:root{

    --primary-color:#27798B;
    --primary-color-1:#27887C;
    --primary-color-2:#276A90;
    --color:#FFFFFF;
    --font-family:'Rubik', sans-serif;



}

a{
    text-decoration: none;
}

.left .card-2{
   display: grid;

}

.content{
    display: flex;
    position: relative;
}

.left{
    width: 45%;
    background: #27798B;
    height: 100vh;
    position: relative;

}

.right{
    width: 55%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h1{
    font: 700 3rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}
.inputs{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
     position: relative;
}
.inputs input{
        width: 26rem;
        height: 4rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        
}

.input p{
    color: var(--primary-color-2);
}

#useremail{
    padding-left: 2rem;
    background-image: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/344/external-Email-email-bearicons-detailed-outline-bearicons.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.7em;
 
  
}

span{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#userpass{

 padding-left: 2rem;
    background-image: url("https://img.icons8.com/ios/344/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.7em;
    
}
.btn p{

     color: var(--primary-color-2);
     margin-top: 2rem;
}

.btnlogin{
        margin-top: 2rem;
        width: 26rem;
        height: 4rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        background: var(--primary-color-2);
        color: var(--color);
        font: 600 1.6rem var(--font-family), sans-serif;
}

.btnlogin:hover{
    background: var(--primary-color-1);
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.google p{
    font: 700 2rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}



.google i{
    font-size: 3rem;
}

.card-1 {
    position: absolute;
    top: 2rem;

}


.card-2 {
    position: absolute;
    top: 26rem;
    left: 28rem;
}



.card-3 {
    position: absolute;
    top: 45rem;
}






@media screen and (max-width: 680px) {
    
.content{
    display: flex;
    justify-content: center;
    position: relative;
   
    
}

.left{
   display: none;

}

.right{

    margin-top: 12rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h1{
    font: 700 1.5rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}
.inputs{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
     position: relative;
}
.inputs input{
        width: 20rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        
}

.input p{
    color: var(--primary-color-2);
}

#useremail{
    padding-left: 2rem;
    background-image: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/344/external-Email-email-bearicons-detailed-outline-bearicons.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
 
  
}

span{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#userpass{

 padding-left: 2rem;
    background-image: url("https://img.icons8.com/ios/344/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
    
}
.btn p{

     color: var(--primary-color-2);
     margin-top: 2rem;
}

.btnlogin{
        margin-top: 2rem;
        width: 22rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        background: var(--primary-color-2);
        color: var(--color);
        font: 600 1.2rem var(--font-family), sans-serif;
}

.btnlogin:hover{
    background: var(--primary-color-1);
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.google p{
    font: 700 1rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}



.google i{
    font-size: 1.6rem;
}



  
}



@media only screen and (min-width: 681px) {
    
.content{
    display: flex;
    justify-content: center;
    position: relative;
   
    
}

.left .card-2{
   display: none;

}

.card-3 {
    position: absolute;
    top: 25rem;
}


.left{

    width: 70%;
    background: #27798B;
    height: 100vh;
    position: relative;

}

.right{
width: 70%;
    margin-top: 12rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h1{
    font: 700 2rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}
.inputs{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
     position: relative;
}
.inputs input{
        width: 22rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        
}

.input p{
    color: var(--primary-color-2);
}

#useremail{
    padding-left: 2rem;
    background-image: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/344/external-Email-email-bearicons-detailed-outline-bearicons.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
 
  
}

span{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#userpass{

 padding-left: 2rem;
    background-image: url("https://img.icons8.com/ios/344/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
    
}
.btn p{

     color: var(--primary-color-2);
     margin-top: 2rem;
}

.btnlogin{
        margin-top: 2rem;
        width: 22rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        background: var(--primary-color-2);
        color: var(--color);
        font: 600 1.2rem var(--font-family), sans-serif;
}

.btnlogin:hover{
    background: var(--primary-color-1);
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.google p{
    font: 700 1.3rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}



.google i{
    font-size: 2rem;
}

.card-1 img{
    width: 19rem;
}

.card-3 img{
    width: 19rem;
}




}

@media only screen and (min-width: 992px) {
       
.content{
    display: flex;
    justify-content: center;
    position: relative;
   
    
}


.left .card-2{
   display: none;

}

.card-3 {
    position: absolute;
    top: 40rem;
}


.right{

    margin-top: 12rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h1{
    font: 700 2rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}
.inputs{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
     position: relative;
}
.inputs input{
        width: 22rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        
}

.input p{
    color: var(--primary-color-2);
}

#useremail{
    padding-left: 2rem;
    background-image: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/344/external-Email-email-bearicons-detailed-outline-bearicons.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
 
  
}

span{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#userpass{

 padding-left: 2rem;
    background-image: url("https://img.icons8.com/ios/344/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.2em;
    
}
.btn p{

     color: var(--primary-color-2);
     margin-top: 2rem;
}

.btnlogin{
        margin-top: 2rem;
        width: 22rem;
        height: 3rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        background: var(--primary-color-2);
        color: var(--color);
        font: 600 1.2rem var(--font-family), sans-serif;
}

.btnlogin:hover{
    background: var(--primary-color-1);
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.google p{
    font: 700 1.3rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}



.google i{
    font-size: 2rem;
}
}


@media only screen and (min-width: 1200px) {
:root{

    --primary-color:#27798B;
    --primary-color-1:#27887C;
    --primary-color-2:#276A90;
    --color:#FFFFFF;
    --font-family:'Rubik', sans-serif;



}

a{
    text-decoration: none;
}

.left .card-2{
  
   display: grid;


}


.content{
    display: flex;
    position: relative;
}

.left{
    width: 50%;
    background: #27798B;
    height: 100vh;
    position: relative;

}

.card img{
    margin-top: 3rem;
    width: 20rem;
    height: 15rem;
}

.right{
    width: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h1{
    font: 700 3rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}
.inputs{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
     position: relative;
}
.inputs input{
        width: 26rem;
        height: 4rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        
}

.input p{
    color: var(--primary-color-2);
}

#useremail{
    padding-left: 2rem;
    background-image: url("https://img.icons8.com/external-bearicons-detailed-outline-bearicons/344/external-Email-email-bearicons-detailed-outline-bearicons.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.7em;
 
  
}

span{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#userpass{

 padding-left: 2rem;
    background-image: url("https://img.icons8.com/ios/344/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.7em;
    
}
.btn p{

     color: var(--primary-color-2);
     margin-top: 2rem;
}

.btnlogin{
        margin-top: 2rem;
        width: 26rem;
        height: 4rem;
        border: 1px solid rgba(39, 106, 144, 0.46);
        border-radius: 9px;
        background: var(--primary-color-2);
        color: var(--color);
        font: 600 1.6rem var(--font-family), sans-serif;
}

.btnlogin:hover{
    background: var(--primary-color-1);
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.google p{
    font: 700 2rem var(--font-family), sans-serif;
    color: var(--primary-color-2);
}



.google i{
    font-size: 3rem;
}



.card-1 {
    position: absolute;
    top: 2rem;

}

.card-1 img{
  width: 22rem;
}


.card-2 {
    position: absolute;
    top: 23rem;
    left: 34rem;
}

.card-2 img{
  width: 22rem;
}


.card-3 {
    position: absolute;
    top: 40rem;
}

.card-3 img{
  width: 22rem;
}
}